@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #333;
  color: #eee;
}
.wrapper {
  max-width: 100%;
  margin: 0px auto;
}
@media (min-width: 1170px) {
  .wrapper {
    max-width: 1170px;
  }
}
